<h1>index.twig</h1>

<p>kasdkahsdkashd</p>
<table>
    {% for item in news %}
    <tr>
        <td>{{ item['id'] }}</td>
        <td>{{ item['title'] }}</td>
        <td>{{ item['desc'] }}</td>
    </tr>
    {% endfor %}
</table>

{{ test }}